:root {
    --glass-top: rgba(255,255,255,0);
    --glass-bottom: rgba(255,255,255,0.1)
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

p.lead {
    font-size: 25px;
}

p {
    font-size: 20px;
}

.header {
    color: black;
    padding-top: 2rem;
}
.card {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.container h3 {
    padding-bottom: 1rem;
}

.container h2 {
    font-size: 36px;
}

.btn-sign-in {
    background-color: #342a34 !important; /* Dark blue background */
    color: white !important;
    border-radius: 10px;
    padding: 8px 16px;
}
.btn-sign-in:hover {
    background-color: #4036b6 !important; /* Slightly darker on hover */
    transition: background-color 0.3s ease-out;
}

li {
    padding-right: 1rem;
    font-weight: bold;
}

/* Jumbotron */
.jumbotron.text-left {
    padding: 5rem 7.5rem ;
    background: 
    linear-gradient(to right, #4036b6, #342a34);
    color: white;
    border-radius: 0%;
}

.jumbotron .display-4 {
    font-size: 3rem ; 
    font-weight: bold; 
    margin-bottom: 1.5rem;

}

.jumbotron .btn-primary {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.7);
    width: 150px;
    border-radius: 25px;
    border: none;
}
.jumbotron .btn-primary:hover {
    background-color: white;
    color: #342a34;
    transition: background-color 0.3s ease-out;
}

/* ----- About us section ----- */
/* Card styles */
.card-headshot {
    height: 250px;
    width: 250px;
    /* background-color: white; */
    border-radius: 125px;
    margin: 3rem;
}

.headshot-body {
    color: rgb(233, 233, 233);
    padding: 2rem;
    padding-top: 0;
    padding-bottom: 0.5rem;
}

.about-us-card {
    background: linear-gradient(to bottom, #342a34, #4036b6);
    border-radius: 35rem;
}

.background-card {
    border-radius: 35rem;
    box-shadow: none;
}

h3 {
    margin-bottom: 1.75rem !important;
}



div.card-body {
    padding: 0.5rem 1.25rem;
    margin-bottom: 1.25rem;
}

p.card-text {
    font-size: 20px;
    padding-bottom: 0.5rem;
}

.headshot-body {
    text-align: center;
}

div.col-md-6.d-flex.flex-row{
    margin-bottom: 2rem;
}

div.col.d-flex.flex-row {
    margin-bottom: 2rem;
}

.news {
    background: linear-gradient(to bottom, rgba(64, 54, 182, 1), rgba(52, 42, 52, 1));
}

h5.card-title {
    padding-top: 0.5rem;
}

.inv-header {
    color: white;
    padding-top: 2rem;
}

.inv-hr {
    border-color: white;
    border-width: 1px;
    opacity: 0.25;
}

div.card.news-item {
    border-radius: 25px;
    overflow: hidden;
    border: none;
    background: linear-gradient(to bottom right, var(--glass-bottom),var(--glass-bottom));
    color: white;
}

.news-item:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease-out;
}

a.btn-primary {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(0, 0, 0, 0);
    width: fit-content;
    border-radius: 20px;
    
}

a.btn-primary:hover {
    background-color: white;
    color: #342a34;
    border-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease-out;
} 

.benefit-list {
    padding: 0.8rem 1rem;
}

.benefit-title {
    color: #342a34;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

/* Marquee animation */
.container {
    overflow: hidden;
}
.container-marquee {
    width: 100%;
    position: relative; /* Position relative for child elements */
        mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent); /* Standard mask */
        -webkit-mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent); /* WebKit-based browsers */
}
.portfolio {
    background: linear-gradient(to right, rgba(64, 54, 182, 1), rgba(52, 42, 52, 1));
}
.marquee-container {
    width: 100%;
    padding: 15px 0;
  }
 
  .marquee-content {
    display: flex;
    animation: marquee 25s linear infinite;
    will-change: transform; /* Improves performance for animations */
    transition: transform 0.3s ease-in-out; /* Smooth transition for pausing */
  }
 
  .marquee-item {
    flex: 0 0 auto;
    padding: 20 20px;
    font-size: 1.2rem;
    color: #495057;
    transition: filter 0.3s ease; /* Smooth transition of blur effect */
  }
 
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
 
    100% {
      transform: translateX(-100%);
    }
  }

 .marquee-item img {
    height: 175px;
    width: 175px;
    /* background-color: white; */
    border-radius: 50%;
    /* margin: 0.5rem; */
}
 
  /* Optional: Pause animation on hover */
  .container-marquee:hover .marquee-content {
    animation-play-state: paused; /* Pause animation on hover */
}

/* Media query for mobile devices (screen width <= 768px) */
@media (max-width: 768px) {
    ul {
        padding-left: 1rem !important;
        
    }
    .nav-link {
        font-size: 18px;
        
    }
    .jumbotron {
        padding: 5rem 2rem !important; /* Reduce padding for smaller screens */
    }
    .jumbotron .display-4 {
        font-size: 2rem; /* Adjust font size for headline */
    }
    .jumbotron .lead {
        font-size: 1rem; /* Smaller font size for subheading */
    }

    h3 {
        margin-bottom: 1.75rem !important;
    }
    .headshot-body {
        padding-bottom: 2.25rem;
    }
    .news-text {
        display:none ;
    }
    div.card.news-item {
        width: 100%;
    }
    h4.benefit-list {
        font-size: 1.25rem;
    }
    .marquee-content {
        animation: marquee 15s linear infinite;
      }
      @keyframes marquee {
        0% {
          transform: translateX(100%);
        }
     
        100% {
          transform: translateX(-200%);
        }
      }

}